<header id="header" class="{{ page.header.header_class }}">
  <h1 id="logo"><a href="{{ base_url_absolute }}">{{ site.logo.text1 }} <span>{{ site.logo.text2 }}</span></a></h1>
  <nav id="nav">
    <ul>
      <li class="main-navigation-toggle">
        <a href=""><div class="hexagon"><div class="inner"><i class="fa fa-bars"></i></div></div></a>
      </li>
    </ul>
  </nav>
</header>
