@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/utils';
@import url("font-awesome.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

@import "libs/skel";

@include skel-breakpoints((
	wide: '(max-width: 1680px)',
	normal: '(max-width: 1280px)',
	narrow: '(max-width: 980px)',
	narrower: '(max-width: 840px)',
	mobile: '(max-width: 736px)'
));

@include skel-layout((
	reset: 'full',
	boxModel: 'border',
	grid: ( gutters: (50px, 50px) ),
	conditionals: true,
	containers: 1400px,
	breakpoints: (
		wide: (
			containers: 1200px,
			grid: (
				gutters: (40px, 40px)
			),
		),
		normal: (
			containers: 960px,
		),
		narrow: (
			containers: 95%,
			grid: (
				gutters: (30px, 30px)
			),
		),
		narrower: (
			containers: (95%, true),
		),
		mobile: (
			containers: (100%, true),
		)
	)
));

$pattern-background-size: 25em;

// Pieces
@import "pieces/banner";
@import "pieces/button";
@import "pieces/cta";
@import "pieces/footer";
@import "pieces/header";
@import "pieces/icon";
@import "pieces/image";
@import "pieces/layout";
@import "pieces/list";
@import "pieces/nav";
@import "pieces/text";
@import "pieces/table";

// View ports
@import "views/wide";
@import "views/normal";
@import "views/narrow";
@import "views/narrower";
@import "views/mobile";
